/* Modal container for when a button is clicked. Using flex to make centering easy. */
.modal-container {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  /* Giving a higher index value to ensure that the elements contents appear over the rest of the page. */
  z-index: 1;
}

/* This represents the modal that the user sees when it appears. */
.modal {
  border: 10px solid #3D3A4B;
  border-radius: 10px;
  position: absolute;
  top: -4rem;
  width: 80%;
  height: 38rem;
  background: #CD8987;
  padding: 2rem;
}

/* Animation class for having the modal slide down from the top of the screen. Exact values were obtained from animista.net */
.slide-bottom {
  animation: slide-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* Keyframes for slide-bottom animation. */
@keyframes slide-bottom {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.modal__header {
  display: flex;
  justify-content: space-between;
}

.modal__header--title {
  display: flex;
  position: relative;
}

/* Styling for the bar to the left of the title. */
.modal__header--title_bar {
  width: .5rem;
  height: 7rem;
  background: #3D3A4B;
  position: absolute;
  top: .5rem;
}

/* Styling for title text. */
.modal__header--title_text { 
  font-family: var(--font-buttons);
  color: #3D3A4B;
  margin-left: 1.5rem;
}

.modal__header--title_text h1 {
  font-size: 50px;
  line-height: 5px;
}

.modal__header--title_text h2 {
  font-size: 30px;
}

.modal__header--exit img {
  cursor: pointer;
  transition: transform .2s ease-in-out;
}

/* Hover effects for exit button. Should only apply to hoverable devices. */
.modal__header--exit img:hover {
  transform: scale(1.2);
}

/* Content window containing copy-to-clipboard and code snippet. */
.modal__content {
  display: flex;
  gap: 2rem;
  height: 67%;
}

.modal__content--code,
.modal__content--description {
  flex: 1;
}

.modal__content--code {
  border-radius: 10px;
  background: #1F1F1F;
  height: 100%;
  padding: 2rem;
}

.modal__content--code_copy img {
  cursor: pointer;
  transition: transform .2s ease-in-out;
}

.modal__content--code_copy img:hover {
  transform: scale(1.2);
}

.modal__content--code_copy img.scale-up {
  transform: scale(1.6);
}

.modal__content--description {
  font-family: var(--font-buttons);
  font-size: 25px;
  color: #3D3A4B;
}