#root {
  max-width: 2160px;

  margin: 0 auto;
  padding: 2rem;
}

.home {
  position: relative;
}

.home__header {
  display: flex;
  justify-content: center;
  gap: 5rem;

  padding: 0 2rem 0 2rem;
}

.image-dark {
  mix-blend-mode: luminosity;
}

.home__header--titles {
  color: var(--color-headers);
  font-family: var(--font-headers);
  text-align: right;
  text-transform: uppercase;
}

.titles-dark {
  color: #C7EFCF
}

.home__header--titles h1 {
  font-size: 40px;
}

.home__header--titles h2 {
  font-size: 20px;

  margin: 2rem 0 2rem 0;
}

.home__buttons {
  /* border: 3px solid green; */
  position: absolute;
  top: 18.5rem;
  width: 100%;
}

.home__buttons button{
  width: 20%;
  height: 10rem;
  border-radius: 100px;
  border: 5px solid #3D3A4B;
  background: #CD8987;
  font-family: var(--font-buttons);
  color: #ECDADA;
  font-size: 30px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.buttons-dark button {
  border: 5px solid #C7EFCF;
  background: #8A8D91;
  color: #2B322E;
}

.home__buttons button:hover {
  transform: scale(1.05);
  background-position: 0 -100%;
}

.home__buttons--top-row,
.home__buttons--middle-row,
.home__buttons--bottom-row {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.home__buttons--middle-row {
  margin: 1rem 0 1rem 0;
}

.home__buttons--icons {
  display: flex;
  justify-content: center;
  gap: 5rem;
  mix-blend-mode: luminosity;

  margin: 4rem 0 4rem 0;
}

.home__buttons--icons img {
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.home__buttons--icons img:hover {
  transform: scale(.90);
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
