#root {
  max-width: 2160px;
  margin: 0 auto;
  padding: 2rem;
}

.home {
  position: relative;
}

.home__header {
  display: flex;
  justify-content: center;
  gap: 30rem;
  padding: 0 2rem 0 2rem;
}

.home__header--image {
  position: relative;
}

.home__header--image img {
  position: absolute;
  left: -6rem;
  transition: opacity .2s ease-in-out;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.image-dark {
  mix-blend-mode: luminosity;
}

.home__header--titles {
  color: var(--color-headers);
  font-family: var(--font-headers);
  text-align: right;
  text-transform: uppercase;
}

.titles-dark {
  color: #C7EFCF
}

.home__header--titles h1 {
  font-size: 40px;
}

.home__header--titles h2 {
  font-size: 20px;
  margin: 2rem 0 2rem 0;
}

.home__header--titles h1, h2 {
  transition: all .2s ease-in-out;
}

.home__buttons {
  position: absolute;
  top: 18.5rem;
  width: 100%;
}

.home__buttons button{
  width: 20%;
  height: 10rem;
  border-radius: 100px;
  border: 5px solid #3D3A4B;
  background: #CD8987;
  font-family: var(--font-buttons);
  color: #ECDADA;
  font-size: 30px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.buttons-dark button {
  border: 5px solid #C7EFCF;
  background: #8A8D91;
  color: #2B322E;
}

.home__buttons button:hover {
  transform: scale(1.05);
}

.home__buttons--top-row,
.home__buttons--middle-row,
.home__buttons--bottom-row {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.home__buttons--middle-row {
  margin: 1rem 0 1rem 0;
}

.home__buttons--icons {
  display: flex;
  justify-content: center;
  gap: 5rem;
  mix-blend-mode: luminosity;
  margin: 4rem 0 4rem 0;
}

.home__buttons--icons img {
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.home__buttons--icons img:hover {
  transform: scale(.90);
}